.archive-page {
  padding-top: 90px;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
  background: #f5f9de; }

.archive-page .container {
  text-align: center;
  margin-right: 40px;
  margin-left: 40px; }

.all-news__item--arhive {
  border: 1px solid green; }

.title--archive {
  margin-bottom: 50px;
  text-align: center; }

.to-main--archive {
  border: 2px dashed green;
  color: green;
  left: 100px; }

@media screen and (max-width: 768px) {
  .to-main--archive {
    left: 60%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); } }

@media screen and (max-width: 425px) {
  .archive-page .container {
    text-align: center;
    margin-right: 0;
    margin-left: 0; }
  .to-main--archive {
    left: 65%; } }

@media screen and (max-width: 320px) {
  .to-main--archive {
    left: 70%; } }
