@charset "UTF-8";
/*стилі пагінації*/
.page-numbers, .page-numbers .next, .page-numbers .prev {
  padding: 5px 5px;
  border: 1px solid black;
  border-radius: 1px;
  color: #fff !important;
  font-weight: bold;
  margin-right: 1px;
  margin-top: 5px;
  background-color: green; }
  .page-numbers:hover, .page-numbers .next:hover, .page-numbers .prev:hover {
    background-color: darkgreen;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s; }

.to-main {
  position: absolute;
  top: 35px;
  left: 180px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 7.5px;
  border: 2px dashed gold;
  color: gold;
  -webkit-transition: all, 1s;
  -o-transition: all, 1s;
  transition: all, 1s; }
  .to-main--fotogall {
    top: 15px;
    left: 90px; }
  .to-main:hover {
    color: orange;
    border: 2px dashed orange; }

.teacher {
  background-color: green;
  background-image: url("../img/fon-beginer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1230px;
  min-height: 1300px;
  padding: 60px 100px;
  padding-bottom: 20px;
  text-align: center;
  -webkit-box-shadow: 0 -2px 15px gray;
          box-shadow: 0 -2px 15px gray;
  /*для середньої школи*/ }
  .teacher--middle {
    background-color: #8c4da4;
    background-image: url("../img/fon-middle.jpg");
    background-position: center center; }

.teacher__title {
  display: inline-block;
  margin: 0 auto;
  color: #ffffff;
  font-family: 'Vollkorn SC', serif;
  font-size: 42px;
  border: 3px solid #ffffff;
  border-radius: 5px;
  padding: 10px 40px;
  margin-bottom: 40px;
  letter-spacing: 2px; }
  .teacher__title--middle {
    margin-bottom: 30px; }

.teacher__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 30px; }

/*клас для кабінетів середньої школи*/
.teacher__secondtitle {
  font-family: "Lobster", cursive;
  font-size: 20px;
  margin-bottom: 30px;
  margin-left: 15px;
  color: #ffffff;
  font-weight: normal;
  border-bottom: 3px solid #ffffff;
  padding-bottom: 15px;
  text-align: left; }

.teacher-backspace {
  padding: 0 3px; }

.teacher__wrapptable {
  width: 500px; }

.teacher__wrapptable table {
  width: 500px;
  text-align: left; }
  .teacher__wrapptable table td {
    padding: 12px; }
  .teacher__wrapptable table:first-child {
    margin-bottom: 40px; }
  .teacher__wrapptable table:last-child {
    margin-left: 60px;
    width: 550px; }

.firstcell {
  font-size: 30px;
  font-family: "Times New Roman", serif;
  font-weight: bold;
  color: #d1fcca; }

.secondcell {
  font-size: 30px;
  font-family: "Times New Roman", serif;
  font-weight: bold;
  color: white; }

.teacherfoto {
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 450px;
  margin-right: 50px; }

.teacherfoto__image {
  border: 10px double white; }

.teacher-footer {
  border-top: 3px solid #ffffff;
  margin-bottom: 130px; }

.teacher-footer__title {
  margin: 0 auto;
  padding: 20px 50px;
  color: #ffffff;
  font-size: 20px;
  text-align: center; }

.teacher-footer__foto-for-mobile {
  display: none; }

.teacher-footer .slider2 {
  margin: 0;
  max-width: 1230px;
  height: 450px;
  margin: 0px auto; }

.slider2 .bxslider {
  position: relative;
  width: 100%;
  height: auto;
  z-index: -1; }

.slider2 .bxslider img {
  width: 100%;
  height: auto; }

.teachers-lessons-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: streth;
      -ms-flex-align: streth;
          align-items: streth;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px; }

.teachers-lessons-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 16%;
  margin-bottom: 20px;
  border: 1px solid #ffffff;
  padding-bottom: 5px;
  -webkit-box-shadow: 2px 2px 2px #ffffff;
          box-shadow: 2px 2px 2px #ffffff; }
  .teachers-lessons-item:hover {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02); }

.teachers-lessons-image {
  max-width: 100%; }

.teachers-lessons-title {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #ffffff !important; }

.teachers-lessons-link {
  margin: 5px 15px;
  text-align: center;
  padding: 5px 10px;
  color: purple;
  font-size: 12px;
  font-weight: bold;
  background-color: #ffffff;
  border-radius: 3px; }
  .teachers-lessons-link:hover {
    background-color: lightgray; }

/* .all-news__item {
  display: flex;
  align-items: stretch;
  border: 1px solid #f0f0f0;
  margin-bottom: 30px;

  width: 568px;
  &--lessons {
  	width: $lessons-image-width;
  }
}

.all-news__image {
  width: 284px;
  height: 304px;
  &--lessons {
    width: $lessons-image-width;
    height: $lessons-image-height;
  }
} */
@media screen and (max-width: 1210px) {
  .teacher__title {
    margin-top: 40px; }
  .teacher__wrapptable table:last-child {
    margin-left: 0; }
  .teacher-footer {
    margin-bottom: -100px; } }

@media screen and (max-width: 1024px) {
  .teacher {
    min-height: 700px; }
  .klass-teacher .container {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0; }
  .teacher__title--bigwidth {
    font-size: 46px;
    padding: 10px 30px;
    margin-left: -5px;
    margin-top: 60px; }
  .teacher__title--ukr {
    font-size: 40px;
    padding: 10px 40px;
    margin-top: 50px; }
  .to-main {
    left: 120px; }
  .teacher__wrapptable table:last-child {
    margin-left: 0;
    width: 500px; }
  .teachers-lessons-item {
    max-width: 22%; } }

@media screen and (max-width: 900px) {
  .teacher {
    padding-left: 20px;
    padding-right: 20px; }
  .teacher__wrapptable table {
    width: 350px;
    text-align: left; }
    .teacher__wrapptable table:last-child {
      margin-left: 30px;
      width: 350px; }
  .firstcell {
    font-size: 20px; }
  .secondcell {
    font-size: 20px; } }

@media screen and (max-width: 768px) {
  .teacher {
    padding-bottom: 0;
    text-align: center; }
  .to-main {
    left: 50%;
    margin-left: -80px; }
  .teacher__title {
    display: inline-block;
    margin-top: 80px; }
  .teacher__title--bigwidth {
    font-size: 46px;
    padding: 10px 30px; }
  .teacher__main {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .teacher__wrapptable {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .teacher__wrapptable table:first-child {
    margin-bottom: 40px;
    margin-top: 15px; }
  .teacher__wrapptable table:last-child {
    margin-left: 0;
    width: 500px; }
  .firstcell {
    font-size: 30px; }
  .secondcell {
    font-size: 30px; }
  .teacherfoto {
    margin-right: 0; }
  .teacherfoto__image {
    border: 10px double white; }
  .teachers-lessons-item {
    max-width: 20%;
    margin-left: 1px;
    margin-right: 1px; } }

@media screen and (max-width: 768px) {
  .teacher-footer {
    margin-bottom: -190px; } }

@media screen and (max-width: 620px) {
  .teacher__main {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .klass-teacher .container {
    width: 100%;
    padding: 0; } }

@media screen and (max-width: 500px) {
  .firstcell, .secondcell {
    font-size: 22px; }
  .teacher__wrapptable {
    width: 100%; }
  .teacher__wrapptable table:last-child {
    width: 100%; }
  .teachers-lessons-item {
    max-width: 30%; } }

@media screen and (max-width: 425px) {
  .teacher {
    padding-bottom: 70px; }
  .klass-teacher .teacher {
    margin: 0 auto;
    width: 100%; }
  /*	.klass-teacher--math .teacher__title,
	.klass-teacher--inm .teacher__title,
	.klass-teacher--inf .teacher__title{
		display: inline-block;
	}*/
  .to-main {
    margin-left: -55px; }
  .teacher__title {
    display: inline-block;
    padding: 10px 20px;
    width: 80%; }
  .teacher__title--bigwidth {
    font-size: 22px;
    padding: 10px 10px; }
  .teacher__title--inm, .teacher__title--majs, .teacher__title--ukr {
    font-size: 25px;
    padding: 10px 10px; }
  .teacher__wrapptable {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%; }
  .teacher__wrapptable table {
    width: 300px; }
    .teacher__wrapptable table td {
      padding: 7px; }
    .teacher__wrapptable table:first-child {
      margin-bottom: 15px;
      margin-top: 20px; }
    .teacher__wrapptable table:last-child {
      width: 300px; }
  .teacher__main {
    margin-bottom: 50px; }
  .firstcell {
    font-size: 18px; }
  .secondcell {
    font-size: 18px; }
  .teacher-footer__title {
    padding: 20px 15px; }
  .teacher-footer {
    border-top: 3px solid #ffffff;
    width: 100%;
    margin-left: 0;
    text-align: center;
    min-height: 500px; }
  #teach-slider {
    display: none; }
  .teacher-footer__foto-for-mobile {
    display: inline-block;
    width: 275px;
    height: auto; }
  .teachers-lessons-item {
    max-width: 40%; } }

@media screen and (max-width: 375px) {
  .teacher__wrapptable {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px; }
  .teacher {
    min-height: 700px;
    padding: 60px 5px;
    padding-bottom: 40px;
    text-align: center;
    -webkit-box-shadow: 0 -2px 15px gray;
            box-shadow: 0 -2px 15px gray;
    /*для середньої школи*/ }
    .teacher--middle {
      background-color: #8c4da4;
      background-image: url("../img/fon-middle.jpg");
      background-size: cover;
      background-position: center, center; }
  .teacher__title {
    display: inline-block;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 20px; }
  .teacher__title--bigwidth {
    display: inline-block;
    font-size: 30px;
    padding: 10px 20px; }
  .teacher__title--inm {
    display: inline-block;
    font-size: 30px;
    padding: 10px 40px; }
  .teacher__title--ukr {
    display: inline-block;
    font-size: 30px;
    padding: 10px 40px; }
  .teacher__title--majs {
    display: inline-block; }
  .teacher-footer {
    width: 90%;
    padding-bottom: 30px;
    margin-left: 15px;
    margin-bottom: -10px;
    min-height: auto; }
  .teacher-footer__foto-for-mobile {
    display: inline-block;
    width: 275px;
    height: auto;
    margin-left: 0; }
  .all-news__item--lessons {
    width: 50%; } }

@media screen and (max-width: 320px) {
  .teacher__title--inm {
    font-size: 35px;
    padding: 10px 30px; }
  .teacher__title--ukr {
    font-size: 30px;
    padding: 10px 20px; }
  .teacher-footer {
    width: 90%;
    padding-bottom: 30px;
    margin-left: 10px; }
  .teacher-footer__foto-for-mobile {
    display: inline-block;
    width: 225px;
    height: auto;
    margin-left: 0; } }
