.middle-page {
  background-color: gold;
  background-image: url("../img/fon-middle1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #ffffff; }
  .middle-page a {
    color: #ffffff; }

.middle-sec {
  padding: 10px 0;
  padding-bottom: 30px;
  margin-bottom: 100px; }

.middle-title p {
  display: inline-block;
  padding: 15px 60px;
  border: 3px solid #ffffff;
  font-family: "Lobster", cursive;
  font-size: 46px;
  border-radius: 10px; }

.middle-title {
  margin: 0;
  text-align: center;
  margin-bottom: 120px; }

.middle-sec__wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.middle-sec__wrapp .middle__link {
  width: 210px;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all, 0.8s;
  -o-transition: all, 0.8s;
  transition: all, 0.8s;
  margin-bottom: 130px; }
  .middle-sec__wrapp .middle__link:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }

.middle__text {
  position: relative;
  text-align: center;
  color: #ffffff; }
  .middle__text:hover {
    color: gold; }

.middle__text use {
  -webkit-box-shadow: 0 0 10px gray;
          box-shadow: 0 0 10px gray; }

.middle__spritesvg {
  position: absolute;
  content: "";
  width: 163px;
  height: 162px;
  top: -130px;
  left: 45px; }

@media screen and (max-width: 425px) {
  .middle-title p {
    padding: 15px 30px;
    font-size: 25px; } }
